* {
  margin: 0px 5px;
  padding: 0px;
  font-family: 'Patrick Hand SC', cursive;
}

body {
  background-color: #dadada;
}

.site {
  background-color: #ffffff;
  /* Centralizando divs/elementos */
  width: 1000px;
  margin: 0px auto;
  padding: 30px;
}

/* A div conteúdo dentro da div site */
.site .principal {
  /* background-color: grey; */
  min-height: 300px;
  margin: 15px 0px;
  padding: 15px 0px;
  border: solid 2px blue;

  /* border-color: green;
  border-width: 5px;
  border-style: dashed;*/
}

.site .topo, .rodape, .principal {
  font-family: 'Sedgwick Ave Display', cursive;
  text-align: center;
}

.site .topo h3 {
  font-family: 'Sedgwick Ave Display', cursive;
}
